.form {
    margin: 1rem 0;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    position: absolute;
}

  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .button {
      position: inherit;
  }

  .actions button {
    font: inherit;
    color: #e2ece5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #c7f7ab;
  }
  
  .actions .submit {
    border: 1px solid #2d60cf;
    background-color: #9ab5f0;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #84a3e6;
  }
  
  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #fac0c7;
  }